/* .section {
   padding: 100px 0;
   width: 100%;
   float: left;
   position: relative;
}
.most-popular {
   width: 100%;
   float: left;
   background-color: #EEEEEE;
   height: 750px;
}
.content .title {
   width: 100%;
   margin: 0 0 40px;
   line-height: 40px;

}

p { font-size: 18px; color: #050505; }

.drink-list {
   width: 100%;
   float: left;
}

.drink {
   width:290px;
   background-color: white;
   height: 444px;
   border-radius: 9px;
   float: left;
   margin-left:30px;
   position: relative;
}
.drink:nth-child(1) {
   margin-left: 0;
}

.drink-list .drink .overlay {
   top: 50%;
   bottom: 0;
   left: 0;
   border-radius: 9px;
   right: 0;
   position: absolute;
   background-image: linear-gradient(#ffffff, #321E12);}
.overlay h5 {
   left: 18px;
   bottom: 45px;
   position: absolute;

}
 */
.title h3 {
   font-size: 50px;
   color: #050505;
}
h4 {
   font-size: 36px;
   color: #050505;
}
.mobie-app {
   background-color: #A38147;
   width: 100%;
   height: 560px;
   float: left;
   margin: 0;
}



.mobie-app .thumbnail {
   width: 50%;
   float: left;
   background: orange;
}

.mobie-app .right {
   width: 50%;
   float: right;
   background: pink;
   padding-left: 75px;
}
.mobie-app .right .description {
   width: 510px;
}
.description .link {
   width: 368;
   background: lightgreen;
   height: 120px;
   padding:10px;
}
.description .link .qrcode {
   width: 100px;
   height: 100px;
   float: left;
   background: #707070;
   border-radius: 10px;
   background-repeat: no-repeat;
   background-size: 100%;
}
.description .link .t {
   width: 22px;
}
.description .link .icon {
   width: 100px;
   height: 100px;
   float: left;
   background: #707070;
   border-radius: 100px;
   background-repeat: no-repeat;
   background-size: 100%;
}