@import url(default.css);

body {
  font-size: 16px;
  line-height: 22px;
  font-family: var(--fContent);
  color: rgba(var(--rgbDark), 0.8);
  background-image: url(../images/bg-body.png);
}
body:lang(km){ font-size: 14px; line-height: 23px; }
a,
a:hover,
a:active,
a:focus {
  outline: 0 !important;
  text-decoration: none;
}
a[href=""] {
  pointer-events: none;
}
button::-moz-focus-inner {
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--fTitle);
  font-weight: 400;
}
h1{ font-size: 40px; line-height: 40px; }
h2{ font-size: 32px; line-height: 32px; }
h3{ font-size: 28px; line-height: 28px; }
h4{ font-size: 24px; line-height: 24px; }
h5{ font-size: 20px; line-height: 20px; }
h6{ font-size: 16px; line-height: 16px; }

p{ margin: 0 0 15px; }


img{ max-width: 100%; max-height: 100%; }
.clear{ clear: both; }
.preload { overflow: hidden; }
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1600px;
}
.container {
  width: 100%;
  margin: 0 auto;
/*position: relative; */
  max-width: 1270px;
  padding: 0 20px;
}
/* .container { max-width: 1270px; padding: 0 40px; }
.container-fluid { max-width: 1600px; padding: 0 40px; } */

/* ==========================================================================
   --------------------------------------------------------------------------
   SECTION: HEAD
   --------------------------------------------------------------------------
   ========================================================================== */
.head {
  width: 100%;
  float: left;
  /* height: 160px; */
  position: absolute;
}

.head .logo { width: 220px; float: left;}
.head .language { width: 47px; }
.head .serch { width: 47px;}
.head .seemenu-order { width: 184px;}
.head .mainmenu { width: 740px;}
.head .logo, .language, .seemenu-order,.serch, .mainmenu { float: left; height: 100px; }

.head .inner {
  width: 100%;
  max-width: 2200px;
  overflow: hidden;
  background-color: red; 
  border-bottom: 1px solid #4d4d4d;
  padding: 10px 0;
  /* position: fixed; */
  background: -moz-linear-gradient(top,  #222222 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  #222222 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  #222222 0%,rgba(0,0,0,0) 100%);
}

.mainmenu {
  padding: 30px 0;
  line-height: 40px;
}
.mainmenu ul {
  float: right;
}
.mainmenu ul li {
  float: left;
  height: 40px;
  height: 40px;
  line-height: 40px;
  list-style: none;
  position: relative;
}
.mainmenu ul li a {
  width: 100%;
  float: left;
  height: inherit;
  font-family: SF Pro Display;
  padding: 0 24px;
  line-height: inherit;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}
/* End option maimenu */


.seemenu-order { 
  padding: 30px 0;
  line-height: 40px;
  padding-left: 20px;
  position: relative;
}
.seemenu-order::after {
  content: '';
  width: 1px;
  top: 30%;
  bottom: 30%;
  left: 0px;
  position: absolute;
  background: #E4BC8A;
}
.seemenu-order button {
  width: 150px;
  border: none;
  background: #E4BC8A;
  height: 40px;
  border-radius: 20px 5px 20px 20px;
}
.seemenu-order a {
  font-size: 14px;
  font-family: SF Pro Display;
}
/* End See menu &order */


.language {
  padding: 30px 0;
  line-height: 40px;
}
.language .icon-en {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid #E4BC8A 2px;
}
.language .icon-en img {
  width: 16px;
  margin: 10px 10px 16px 10px;
}
/* End Language */


.serch .icon-serch img {
  width: 16px;
  margin: 10px 10px 16px 10px;
}
.serch {
  padding: 30px 0;
  line-height: 40px;
}
.serch .icon-serch {
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 50%;
  border: solid #E4BC8A 2px;
}
/* End option serch */


/* ==========================================================================
   --------------------------------------------------------------------------
   SECTION: CONTENT
   --------------------------------------------------------------------------
   ========================================================================== */
.content {
  width: 100%;
  float: left;
/*   height:1700px;
  background-color: black; */
}







/* ==========================================================================
   --------------------------------------------------------------------------
   SECTION: FOOT
   --------------------------------------------------------------------------
   ========================================================================== */
.foot {
  width: 100%;
  float: left;
}
.foot .inner {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  height: 847px;
  color: white;
}
.foot .inner::before {
  content: '';
  width: 920px;
  top: 0;
  bottom: 0;
  left: 26%;
  border-top: 1px solid #707070;
  position: absolute;
}
.foot .fullwidth {
  width: 100%;
  float: left;
  margin-top: 20px;
}
.foot .section {
  padding: 60px 0px 100px 0px;
}
.foot .social {
  width: 100%;
  float: left;
  height: 217px;
  background: pink;
}

.detail .section  {
  width: 100%;
  float: left;
  height: 630px;
  background: #171616;
}

/* ============overview =============*/
.section .overview {
  width: 100%;
  max-width: 779px;
  margin: auto;
  text-align: center;
}
.overview img {
  max-height: 80px;
   margin-bottom: 20px;
}

/* ============quicklink =============*/
.section .quicklink {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #707070;
  /* background-color: pink; */
  padding: 40px 0px 30px 0px;
}

/* ============copy right =============*/
.section .copyright {
  width: 100%;
  text-align: center;
 /*  background-color: pink; */
  margin-top: 30px;
}
.copyright p {
  font-size: 16px;
  margin: auto;
  line-height: 20px;
}
.copyright ul{
  width: 100%;
}
.copyright ul li {
  list-style: none;
  float: left;
}